VITE_APP_NAME=Site Name
VITE_API_BASE_URL=/
VITE_ENABLE_MOCK=true
VITE_ENABLE_APP_BFF=false

VITE_SUPPORT_TELEGRAM_CONTACT_LABEL=@your_support
VITE_SUPPORT_TELEGRAM_CONTACT_URL=https://t.me/your_support
VITE_SUPPORT_TELEGRAM_GROUP_LABEL=@your_group
VITE_SUPPORT_TELEGRAM_GROUP_URL=https://t.me/your_group

VITE_NODE_STATUS_API_PATH=/api/v1/user/server/fetch
VITE_NODE_STATUS_REFRESH_INTERVAL_MS=15000

VITE_DOWNLOAD_V2RAYN_WINDOWS=https://github.com/2dust/v2rayN/releases/download/7.19.5/v2rayN-windows-64-desktop.zip
VITE_DOWNLOAD_V2RAYN_MAC_INTEL=https://github.com/2dust/v2rayN/releases/download/7.19.5/v2rayN-macos-64.dmg
VITE_DOWNLOAD_V2RAYN_MAC_ARM=https://github.com/2dust/v2rayN/releases/download/7.19.5/v2rayN-macos-arm64.dmg

VITE_DOWNLOAD_CLASH_WINDOWS=https://github.com/MetaCubeX/mihomo/releases/download/v1.19.23/mihomo-windows-amd64-compatible-v1.19.23.zip
VITE_DOWNLOAD_CLASH_MAC_INTEL=https://github.com/MetaCubeX/mihomo/releases/download/v1.19.23/mihomo-darwin-amd64-compatible-v1.19.23.gz
VITE_DOWNLOAD_CLASH_MAC_ARM=https://github.com/MetaCubeX/mihomo/releases/download/v1.19.23/mihomo-darwin-arm64-v1.19.23.gz
